<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Disable Zoom and shit [hardcore mode gg] -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    
    <!-- Title -->
    <title>Dirty {{#if title}} ~ {{title}}{{/if}}</title>

    <!-- CSS -->
    <link href="styles/master.css" rel="stylesheet">
    
    <!-- Pre-Render JS -->

  
  </head>
  <body>
    <div class="bg"></div>
    <header class="on">
      <!-- Put soimething here soon ok thanks -->
    </header>