{{> header}}

<!-- Welcome Page -->
<article class="page" id="welcome">
  <!-- Hero -->
  <div class="full text-center">
    <h1>Welcome <span class="userSaved"></span> to Dirty</h1>
    <h4 class="text-left">it's kind of clean, actually.</h4>
    <h4 class="text-right">Isn't that weird...</h4>
  </div>
  <!-- New User / Return User -->
  <form class="full-true" id="newUser">
    <!-- Username -->
    <input type="text" id="newUserName" name="newUserName" placeholder="Name" />
    <!-- Pass -->
    <input type="password" id="newUserName" name="newUserName" placeholder="Secret" />
  </form>
</article>

{{> footer}}